.title-center{
    text-align: center;
    border: 3px solid #a2a9b1;
    border-radius: 3px;
    border-style: groove;
    background-color: #6f7072;
    padding: 10px;
    margin:50px 10px 10px 1600px;
    width: 200px;
}
.chess-board {  
    position: relative;
    border-spacing: 0;
    border-style: groove;
    border-color: rgb(76, 73, 69);
    border-width: 10px;
    margin: 50px auto;
    text-align: center;
    width: 70vmin;
    height: 70vmin;
}
.chess-board th { 
    padding: 5px;
}
.chess-board td{ 
    border: 1px solid; 
    border-style: groove;
    border-color: rgb(203, 200, 195);
    border-width: 2px;
    width: 12.5%; 
    height: 12.5%; 
}
.chess-board .light { 
    background-color: #eee;
}
.chess-board .dark { 
    background-color: rgb(122, 115, 115);
}

.chess-board .selected{
    background-color: rgba(27, 55, 240, 0.826);
}
.chess-board .movement{
    background-color: rgb(108, 201, 140);
}
.chess-board .enemyPointer{
    background-color: rgb(237, 49, 49);
}
.winnerAnnouncer{
    font-size: 44px;
    color: rgb(237, 49, 49);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: groove;
    background-color: #a7abb3;
    padding: 50px;
    border-radius: 7px;
    width: max-content;
}